* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    display: grid;
    height: 100%;
    grid-template-rows: minmax(110px, 2fr) minmax(540px, 5.5fr);
    grid-template-columns: minmax(285px, 2fr) minmax(740px, 5fr);
    grid-template-areas: 'aside header header'
                        'aside main main';

    aside {
        grid-area: aside;
        background-color: #B9375E;
        color: white;
        padding-left: 20px;

        .logo {
            display: grid;
            grid-template-columns: 1fr 6fr;
            align-items: center;
            gap: 15px;
            padding: 5px 0 30px;
        }

        ul {
            list-style-type: none;
            padding-left: 15px;
            display: grid;
            gap: 25px;

            li {
                display: grid;
                grid-template-columns: 1fr 11fr;
                align-items: center;
                gap: 25px;
                font-size: 1.8rem;
                font-weight: 500;

                &.communities {
                    grid-row: 6 / span 5;
                    align-self: start;
                }
            }
        }

        * {
            cursor: pointer;
        }
    }

    header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }
}
